<section class="courses">
    <div class="courses-container">
        <div class="container course-heading">
            <h2><span class="course-title-1">Our</span> <span class="course-title-2">Courses</span></h2>
            <p>Specialized in Physics, Chemistry, Biology and Mathematics for 11th and 12th standard & entrance exams (CET, JEE, NEET) in IKD, Amalner.</p>
            <div class="section-devider">
                <hr>
                <i class="material-icons">circle</i>
                <i class="material-icons circle-2">circle</i>
                <i class="material-icons">circle</i>
                <hr>
            </div>
        </div>
        <div class="container">
            <div class="feature-inner row">
                <div class="col-lg-4 col-md-6">
                    <div class="feature-item">
                        <i class="ti-crown"></i>
                        <h4>Course Name</h4>
                        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                            <p>
                                Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-item">
                        <i class="ti-briefcase"></i>
                        <h4>Course Name</h4>
                        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                            <p>
                                Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-item">
                        <i class="ti-medall-alt"></i>
                        <h4>Course Name</h4>
                        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                            <p>
                                Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-item">
                        <i class="ti-key"></i>
                        <h4>Course Name</h4>
                        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                            <p>
                                Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-item">
                        <i class="ti-files"></i>
                        <h4>Course Name</h4>
                        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                            <p>
                                Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-item">
                        <i class="ti-headphone-alt"></i>
                        <h4>Course Name</h4>
                        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                            <p>
                                Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="feature-area">
    <div class="container">
        
    </div>
</section> -->